<div class="footer_xela" id="footer">
  <div class="footer-links">
    <p>Follow us on </p>
    <a href="https://www.facebook.com/goosebumpsbros/"  target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i>
</a>
  </div>
  <div class="footer-right">
    <p> <i class="fa fa-copyright" aria-hidden="true"></i> Goosebumps 2018</p>
  </div>
</div>

