#top-btn {
  color: white;
  opacity: 0.8;
  font-family: Gugi;
  font-weight: lighter;
  cursor: pointer;
  }

#top-btn:hover {
  color: $light-gray;
  text-decoration: none;
  opacity: 1;

}

.up {
  margin: 15px 15px;
}
