
.left.carousel-control {
  left: -80px;
  cursor: pointer;
}

.right.carousel-control {
  right: -14px;
  cursor: pointer;
}

.carousel-inner {
  width: 570px;
  height: 370px;
  margin-bottom: 15px;
  margin-left: 62px;
}

.carousel-inner iframe {
  width: 570px;
  height: 370px;
}

.video-wrapper {
    float: none;
    width: 700px;
    position: relative;
    padding-top: 25px;
    height: 0;
    margin: 0 auto;
    max-width: 100%;
  }

  .left.carousel-control {
    left: -35px;
  }

  .right.carousel-control {
    right: -35px;
  }

  .item {
    margin-left: -58px;
    margin-top: 40px;
  }
