body {
    background-color: $black;
}


// #home {
//   background-color: $black;
//   height: 50vh;
//   border-bottom: 3px solid red;
// }

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


p {
  // color: $light-gray;
  color: #BEBEBE;
}

.bio {
  font-size: 16px;
  line-height: 1.5;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  height: 100%;
}

.video-container {
  display: flex;
  justify-content: space-around;
  margin: 15px 0 15px 0;
}


