body {
    background-color: $black;
}


// #home {
//   background-color: $black;
//   height: 50vh;
//   border-bottom: 3px solid red;
// }

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


p {
  // color: $light-gray;
  color: #BEBEBE;
}

.bio {
  font-size: 16px;
  line-height: 1.5;
  display: block;
  margin: 0 auto 40px auto;
  width: 75%;
  height: 100%;
}

.more {
  color: #BEBEBE;
  font-size: 22px;

a {
  text-decoration: none;
}
}



