---
title: Goosebumps
---
  <img class="col-xs-12 img-responsive" src="images/banner.jpg" alt="banner">

<div class="container bio  text-center text-justify">
  <p>Partners in crime since boyhood, Benjamin Lopez & Nouch started dropping powerful beats and organising their own parties with their first project <strong>BE TRASH</strong>, back in 2005!</p>

  <p>
    Then in the 2010’s, <strong>BE TRASH</strong> collaborated with great underground label from Paris <strong>BOOTY CALL</strong> and played regularly at famous Social Club, Nouveau Casino, Batofar, and also in Europe, Brazil & Hong kong…
  </p>

  <p>
    More recently (2015/2016), they have been running <strong>BLOCK CLUB</strong> in Bordeaux-France, focusing on booking top quality international House & Techno dj's such as Marcel Dettmann, Dave Clarke, Jesse Rose, Phil Weeks, Miss Kittin, Amine Edge & Dance, Sam Paganini, Paul Johnson, Coyu, Oliver Huntemann, Anja Schneider and many more!
  </p>

  <p>
    After all those years and freshly landed in Saigon, Benjamin Lopez & Nouch are happy to launch their new House to Techno duo: <strong>GOOSEBUMPS</strong>.
  </p>

  <!-- debut carrouseel -->
  <div class="video-wrapper">
    <div class="col-xs-12 carousel slide" data-ride="carousel"" id="theCarousel">
    <div class="col-xs-12 carousel-inner">

    <div class="col-xs-12 item active">
      <div class="col-xs-12"><iframe frameborder="0"  src="//www.dailymotion.com/embed/video/x59acj" allowfullscreen allow="autoplay" ></iframe></div>
    </div>

    <div class="col-xs-12 item">
      <div class="col-xs-12"><iframe frameborder="0"  src="//www.dailymotion.com/embed/video/x59a8g" allowfullscreen allow="autoplay"></iframe></div>
    </div>

    <div class="col-xs-12 item">
      <div class="col-xs-12"><iframe frameborder="0"  src="//www.dailymotion.com/embed/video/x7iatg" allowfullscreen allow="autoplay" ></iframe></div>
    </div>

    <div class="col-xs-12 item">
      <div class="col-xs-12"><iframe  src="https://www.youtube.com/embed/64gkX8_GRI4?rel=0"  frameborder="0" allow="autoplay; encrypted-media" allowfullscreen ></iframe></div>
    </div>

    <div class="col-xs-12 item">
      <div class="col-xs-12"><iframe  src="https://www.youtube.com/embed/OTVqqiRfJoM?rel=0"  frameborder="0" allow="autoplay; encrypted-media" allowfullscreen ></iframe></div>
    </div>

    <div class="col-xs-12 item">
      <div class="col-xs-12"><iframe  src="https://www.youtube.com/embed/iUWGIpv1Xcc?rel=0"  frameborder="0" allow="autoplay; encrypted-media" allowfullscreen ></iframe></div>
    </div>
  </div>
    <a class="left carousel-control" href="#theCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
    <a class="right carousel-control" href="#theCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
<!-- fin carrouseel -->
  </div>
</div>




<br>
  <div class=" col-xs-12 container text-center">
    <a href="https://www.facebook.com/pg/blockbordeaux/videos/?ref=page_internal" class="cta" target="_blank">
    <span><i class="fa fa-video-camera" aria-hidden="true"></i>More videos</span>
    <svg width="13px" height="8px" viewBox="0 0 13 10">
      <path d="M1,5 L11,5"></path>
      <polyline points="8 1 12 5 8 9"></polyline>
    </svg>
    </a>
  </div>
</div>






<div class="container">
  <hr>
  <h3 class="text-center">Events</h3>
</div>



