---
title: Goosebumps
---
  <a id="top"></a>
<div class="content">
  <img id="home" class="col-xs-12 img-responsive" src="images/banner.jpg" alt="banner">

<div class="container bio  text-center text-justify">
  <p>Partners in crime since boyhood, Benjamin Lopez & Nouch started dropping powerful beats and organising their own parties with their first project <strong>BE TRASH</strong>, back in 2005!</p>

  <p>
    Then in the 2010’s, <strong>BE TRASH</strong> collaborated with great underground label from Paris <strong>BOOTY CALL</strong> and played regularly at famous Social Club, Nouveau Casino, Batofar, and also in Europe, Brazil & Hong kong…
  </p>

  <p>
    More recently (2015/2016), they have been running <strong>BLOCK CLUB</strong> in Bordeaux-France, focusing on booking top quality international House & Techno dj's such as Marcel Dettmann, Dave Clarke, Jesse Rose, Phil Weeks, Miss Kittin, Amine Edge & Dance, Sam Paganini, Paul Johnson, Coyu, Oliver Huntemann, Anja Schneider and many more!
  </p>

  <p>
    After all those years and freshly landed in Saigon, Benjamin Lopez & Nouch are happy to launch their new House to Techno duo: <strong>GOOSEBUMPS</strong>.
  </p>

  <!-- debut carrouseel -->
  <div class="video-wrapper">
    <div class="col-xs-12 carousel slide" data-ride="carousel"" id="theCarousel">
    <div class="col-xs-12 carousel-inner">
    <div class="col-xs-12 item active">
      <iframe frameborder="0"  src="//www.dailymotion.com/embed/video/x59acj" allowfullscreen allow="autoplay" ></iframe>
    </div>

    <div class="col-xs-12 item">
      <div class="col-xs-12"><iframe frameborder="0"  src="//www.dailymotion.com/embed/video/x59a8g" allowfullscreen allow="autoplay"></iframe></div>
    </div>

    <div class="col-xs-12 item">
      <div class="col-xs-12"><iframe frameborder="0"  src="//www.dailymotion.com/embed/video/x7iatg" allowfullscreen allow="autoplay" ></iframe></div>
    </div>

    <div class="col-xs-12 item">
      <div class="col-xs-12"><iframe  src="https://www.youtube.com/embed/64gkX8_GRI4?rel=0"  frameborder="0" allow="autoplay; encrypted-media" allowfullscreen ></iframe></div>
    </div>

    <div class="col-xs-12 item">
      <div class="col-xs-12"><iframe  src="https://www.youtube.com/embed/OTVqqiRfJoM?rel=0"  frameborder="0" allow="autoplay; encrypted-media" allowfullscreen ></iframe></div>
    </div>

    <div class="col-xs-12 item">
      <div class="col-xs-12"><iframe  src="https://www.youtube.com/embed/iUWGIpv1Xcc?rel=0"  frameborder="0" allow="autoplay; encrypted-media" allowfullscreen ></iframe></div>
    </div>
  </div>
    <a class="left carousel-control" href="#theCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
    <a class="right carousel-control" href="#theCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
<!-- fin carrouseel -->
  </div>
</div>

<br>
  <div class=" col-xs-12 container text-center">
    <a href="https://www.facebook.com/pg/blockbordeaux/videos/?ref=page_internal" class="cta" target="_blank">
    <span><i class="fa fa-video-camera" aria-hidden="true"></i>More videos</span>
    <svg width="13px" height="8px" viewBox="0 0 13 10">
      <path d="M1,5 L11,5"></path>
      <polyline points="8 1 12 5 8 9"></polyline>
    </svg>
    </a>
  </div>
</div>


<div id="events" class="container">
  <hr>
  <h1  class="text-center">Events</h1>
  <br>
  <div class="text-center">
    <iframe class="hidden-xs" src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fgoosebumpsbros%2F&tabs=timeline%2C%20events&width=500&height=650&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=false&appId" width="500" height="650" style="border:none;overflow:hidden; box-shadow: 1px 1px 2px 2px rgba(255,255,255,1);" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>

    <iframe class="hidden-md hidden-lg" src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fgoosebumpsbros%2F&tabs=timeline%2C%20events&width=300&height=580&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=false&appId" width="300" height="580" style="border:none;overflow:hidden; box-shadow: 1px 1px 2px 2px rgba(255,255,255,1)" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
  </div>
</div>


<div id="meet" class="container">
  <hr>
  <h1 class="text-center">Meet the Dj's</h1>
  <br>
  <div id="about">
      <ul class="list-inline">
          <li>
            <% link_to "https://www.facebook.com/bootyben", target: "_blank" do %>
              <%= image_tag "https://scontent.fbgi2-1.fna.fbcdn.net/v/t1.0-9/22045915_2076842189007926_8656202664128451321_n.jpg?_nc_cat=0&oh=942c1feb40d0c931177697be42cd3208&oe=5B8C84E5", class: "img-circle" %>
            <% end %>
            <h2>Bootyben</h2>
          </li>
          <li>
            <% link_to "https://www.facebook.com/nouch.betrash", target: "_blank" do %>
              <%= image_tag "https://scontent.fbgi2-1.fna.fbcdn.net/v/t1.0-9/30726429_10155164964566750_6660227597666110963_n.jpg?_nc_cat=0&oh=bcfa7474ef0e8d5a1e978b9324d278ad&oe=5B50C87C", class: "img-circle" %>
            <% end %>
            <h2>Nouch</h2>
          </li>
      </ul>
  </div>
</div>



